<p><br/></p><p><br/></p>
<div class="conteiner">
<div class="card text-white bg-danger mb-3" style="max-width: 1500px;">
    <!-- <div class="card-header">Header</div> -->
    <div class="card-body">
      <h1 class="card-title text-center">PROMOCIONES</h1>
      <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
    </div>
</div>
</div>


  <div class="row row-cols-1 row-cols-md-4 g-5" style="max-width: 1300px;">
    <h1 class="display-3 text-primary">Conoce nuestras mejores ofertas en UCB RIDER</h1>
  </div> 
  <br>
  <div class="card-group">
    <div class="card">
      <img class="card-img-top" src="https://static2.abc.es/media/MM/2022/01/09/hyperfighter-colossus-k40G--1460x900@abc.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Hyper Fighter Colossus, de Damon Motorcycles</h5>
        <p class="card-text">En el terreno de los modelos eléctricos destaca la Hyper Fighter Colossus de Damon Motorcycles, presentada en el CES 2022 de Las Vegas. Esta moto, de tirada limitada, viene con un diseño feroz y las últimas tecnologías y permite a sus propietarios elegir diferentes kits de carrocería y paquetes gráficos. Está impulsada por el innovador HyperDrive de Damon, el primer tren motriz multivariante 100% eléctrico construido en monocasco del mundo. Es capaz de generar 200 CV y un par de motor de 200 Nm.</p>
        <p class="card-text"><small class="text-muted">Salido hace 3 meses</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="https://static1.abc.es/media/MM/2022/01/09/bmw-grand-america-k40G--1630x900@abc.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">BMW K 1600 Grand America</h5>
        <p class="card-text">La nueva BMW K 1600 Grand America, perfecta para viajar y disfrutar de cada kilómetro recorrido, llega con un motor de seis cilindros en línea de 1.649 cc que brinda una potencia de 160 CV y un par máximo de 180 Nm a 5.250 rpm y un control mejorado que proporciona una capacidad de arrastre y una potencia de arranque aún mayores.</p>
        <p class="card-text"><small class="text-muted">Salido hace 6 meses</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="https://static.abc.es/media/MM/2022/01/09/mv-agusta-f3-k40G--1213x900@abc.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">MV Agusta F3 RR</h5>
        <p class="card-text">Con el objetivo de mejorar el rendimiento y aumentar la eficiencia del motor, la nueva MV Agusta F3 RR viene con una estructura mucho más ancha, pero a la vez más estilizada que incluye tres alerones fabricados en fibra de carbono que, situados en los laterales, son capaces de generar hasta ocho kilos de carga a 240 km/h.</p>
        <p class="card-text"><small class="text-muted">Salido hace 5 meses</small></p>
      </div>
    </div>
  </div>
  <br><br><br>

  <div class="h-100 d-flex align-items-center justify-content-center">
    <h1 class="display-3 text-primary">Conoce nuestras Sucursales </h1>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">SUCURSAL ZONA SUR</h5>
          <p class="card-text">Av. Costanera N° 29
            <br>Calacoto
            <br>Tel: 2794904</p>
          <a href="#" class="btn btn-primary">Ir Ubicación</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">SUCURSAL ZONA CENTRAL</h5>
            <p class="card-text">Calle Riobamba esq. Boquerón
                <br>N° 598, San Pedro
                <br>Tel: 2491000</p>
            <a href="#" class="btn btn-primary">Ir Ubicación</a>
          </div>
        </div>
      </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">SUCURSAL ZONA NORTE</h5>
          <p class="card-text">Calle Peru 
            <br>N° 457, Calama
            <br>Tel: 2447856</p>
          <a href="#" class="btn btn-primary">Ir Ubicación</a>
        </div>
      </div>
    </div>
  </div>
  <br>

  




