<p><br/></p><p><br/></p>
<div class="col text-uppercase text-center">
    <h1>REGISTRO DE PEDIDO</h1>
  </div>

    <div class="container" id="advanced-search-form">
        <h2>Registro de pedido de calzados</h2>
        <form>
            <div class="form-group">
                <label for="first-name">Asignado</label>
                <input type="text" class="form-control" placeholder="Asignado" id="first-name">
            </div>
            <div class="form-group">
                <label for="last-name">Descripcion</label>
                <input type="text" class="form-control" placeholder="Descripcion" id="last-name">
            </div>
            <div class="form-group">
                <label for="country">Hora Reserva</label>
                <input type="text" class="form-control" placeholder="Hora Reserva" id="country">
            </div>
            <div class="form-group">
                <label for="number">Hora Entrega</label>
                <input type="text" class="form-control" placeholder="Hora Entrega" id="number">
            </div>
           
            
            <div class="clearfix"></div>
            <button type="submit" class="btn btn-info btn-lg btn-responsive" id="search"> <span class="glyphicon glyphicon-search"></span> Registrar</button>
        </form>
    </div>

