<nav class="navbar navbar-expand-lg bg-light scrolling-navbar fixed-top">
        <div class="container-fluid"> 
            <a class="navbar-brand" href="#">&nbsp;&emsp;&nbsp;&emsp;NCLOOK</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link nav-link active"  href="home">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="promociones">PROMOCIONES</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="novedades">NOVEDADES</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="zapatos">ZAPATOS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="bolsos">BOLSOS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="tiendas">TIENDAS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="nclookworld">#NCLOOKWORLD</a>
                </li>
              </ul>
            </div>
        </div> 
    
  </nav>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>