
<p><br/></p><p><br/></p>

<div class="col text-uppercase text-center">
  <h2>Catálogo de las nuevas NOVEDADES en zapatos</h2>
</div>
<div class="col text-center">
  Por la compra de cualquier zapato mostrado en esta sección recibe un descuento por la promoción.
</div>
<br><br>
<!-- <div class="col text-center">
  Y por la compra de una motocicleta de modelo exclusivo en nuestra página web recibira un descuento del 15%
</div> -->

<div class="card bg-dark text-white">
    <img src="https://static.marypaz.com/media/catalog/category/Banner_cabecera_zapatos_pc_2.jpg" class="card-img" alt="...">
    <!-- <div class="card-img-overlay"><br><br><br><br><br> -->
      <!-- <h5 class="card-title text-center"><FONT COLOR="purple">Nueva colección</FONT></h5><br> -->
      <!-- <p class="card-text text-center"><FONT COLOR="purple">A todas nos gusta estrenar y por eso te presentamos nuestra<br> nueva colección otoño-invierno 2022 para ir a la última cada día.</FONT></p> -->
      <!-- <p class="card-text">Last updated 3 mins ago</p> -->
    <!-- </div> -->
</div>

<div class="container">
    <div class="row">
      <!-- <div class="row row-cols-1 row-cols-md-4 g-5 h-80 d-flex align-items-center justify-content-center max-width: 1300px" > -->
      <div class="row row-cols-1 row-cols-md-4 g-5 h-80">
          <div class="card border-2 col-sm-4 p-0">
            <table class="table">
              <thead>
                <tr>                
                  <th scope="col">ZAPATOS</th>
                </tr>
              </thead>
              <tbody>
                <tr>                  
                  <td>Zapatos de tacón</td>
                </tr>
                <tr>                  
                  <td>Zapatillas</td>
                </tr>
                <tr>               
                  <td colspan="2">Botines</td>
                </tr>
                <tr>               
                  <td colspan="2">Botas</td>
                </tr>
                <tr>               
                    <td colspan="2">Mocasiones</td>
                </tr>
                <tr>               
                    <td colspan="2">Zapatos de piel</td>
                </tr>
                <tr>               
                    <td colspan="2">Sandalias de plataforma</td>
                </tr>
                <tr>               
                    <td colspan="2">Bailarinas</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- &nbsp;
          &nbsp;
          &nbsp; -->
          <div class="card border-2 col-sm-4 p-0">
            <img class="card-img-top" src="https://static.marypaz.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/8/2/82502_20.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title h4">SALÓN TACÓN BAJO</h4>
              <p class="card-text">Precio:19,99 €</p>
            </div>
          </div>
          
          <div class="card border-2 col-sm-4 p-0">
            <img class="card-img-top" src="https://static.marypaz.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/8/6/86594_20.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title h4">ZAPATO TACÓN CHUPETE</h4>
              <p class="card-text">Precio:25,99 €</p>
            </div>
          </div>
          
          <div class="card border-2 col-sm-4 p-0">
            <img class="card-img-top" src="https://static.marypaz.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/8/6/86604_15.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title h4">ZAPATO SALÓN</h4>
              <p class="card-text">Precio:29,99 €</p>
            </div>
          </div>
      </div>
  

      <div class="row ">
        <div class="row row-cols-1 row-cols-md-4 g-5 h-80">
          <div class="card border-2 col-sm-4 p-0">
            <img class="card-img-top" src="https://static.marypaz.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/8/6/86766_20.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title h4">ZAPATILLA DETALLE</h4>
              <p class="card-text">Precio:29,99 €</p>
            </div>
          </div>
          
          <div class="card border-2 col-sm-4 p-0">
            <img class="card-img-top" src="https://static.marypaz.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/8/7/87907_20.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title h4">SANDALIA TACÓN XL</h4>
              <p class="card-text">Precio:35,99 €</p>
            </div>
          </div>
          
          <div class="card border-2 col-sm-4 p-0">
            <img class="card-img-top" src="https://static.marypaz.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/8/7/87598_15.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title h4">ZAPATO TACÓN</h4>
              <p class="card-text">Precio:19,99 €</p>
            </div>
          </div>
          
          <div class="card border-2 col-sm-4 p-0">
            <img class="card-img-top" src="https://static.marypaz.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/8/8/88312_20.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title h4">ZAPATILLA ABOTINADA</h4>
              <p class="card-text">Precio:27,99 €</p>
            </div>
          </div>
        </div>
       

      <div class="row ">
        <div class="row row-cols-1 row-cols-md-4 g-5 h-80 ">
          <div class="card border-2 col-sm-4 p-0">
            <img class="card-img-top" src="https://static.marypaz.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/8/7/87685_15.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title h4">ZAPATO DE TACÓN CON LAZADA</h4>
              <p class="card-text">Precio:33,99 €</p>
            </div>
          </div>

          <div class="card border-2 col-sm-4 p-0">
            <img class="card-img-top" src="https://static.marypaz.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/8/9/89200_20.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title h4">ZAPATO CORDÓN</h4>
              <p class="card-text">Precio:33,99 €</p>
            </div>
          </div>

          <div class="card border-2 col-sm-4 p-0">
            <img class="card-img-top" src="https://static.marypaz.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/8/9/89245_15.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title h4">ZAPATO SALÓN PLATAFORMA EFECTO ANTE</h4>
              <p class="card-text">Precio:33,99 €</p>
            </div>
          </div>

          <div class="card border-2 col-sm-4 p-0">
            <img class="card-img-top" src="https://static.marypaz.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/8/9/89246_20.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title h4">ZAPATO SALÓN PLATAFORMA SERPIENTE</h4>
              <p class="card-text">Precio:33,99 €</p>
            </div>
          </div>
        </div>
      </div>   
</div>

<p><br/></p>
<hr/>
 
  <div class="col text-center">
    <h3><b>Zapatos de mujer</b></h3>
    <h4>Los zapatos de mujer que buscan te esperan en NCLOOK. Y es que nuestras colecciones están inspiradas en la mujer actual, que sigue las tendencias y prima la comodidad, todo ello a un precio asequible. Encuentra los zapatos para mujer perfectos para tu día a día, así como para tus eventos más especiales.</h4>
    <p><br/></p>
    <h3><b>Zapatos cómodos y elegantes de mujer</b></h3>
    <h4>Ir a la última y cómoda es posible gracias los zapatos cómodos que te ofrecemos en la tienda online de NCLOOK. Apuesta por unos zapatos planos de mujer inspirados en las últimas tendencias. Zapatillas, mocasines, bailarinas, sandalias planas, botas planas… Sea cual sea tu estilo encontrarás un modelo todoterreno del que no querrás separarte.</h4>
    <p><br/></p>
    <h3><b>Zapatos de mujer cómodos y elegantes</b></h3>
    <h4>Se acabó renunciar a la comodidad en tus eventos especiales. Encuentra unos zapatos cómodos y elegantes para completar tus looks festivos. Tanto si eres amante de los zapatos de salón como si prefieres unas cómodas sandalias de tacón, te ofrecemos una amplia variedad en zapatos de mujer cómodos y elegantes con diferentes diseños, colores y estilos para que encuentres tus zapatos de mujer cómodos y elegantes favorito.</h4>
    <p><br/></p>
    <h3><b>Calzado de Vestir</b></h3>
    <h4>Para las ocasiones en que necesitas un calzado de vestir te recomendamos que elijas unos zapatos de tacón elegantes o unas bonitas sandalias de tacón de mujer. Descubre nuestra colección de tacones de mujer, perfectos para eventos, para looks de oficina o para salir con tus amigas. Encontrarás un modelo para cada ocasión.</h4>
  </div>

<p><br/></p>
<hr/>

<p><br/></p>

<script src="https://kit.fontawesome.com/0e79ddbc3a.js" crossorigin="anonymous"></script>
<div class="col text-uppercase text-center">
  <h2>REDES SOCIALES </h2>
</div>
<ul class="mbm_social">
	<li><a class="social-facebook" href="#">
		<i class="fa fa-facebook"><small>facebook</small></i>
		
		<div class="tooltip"><span>facebook</span></div>
		</a>
	</li>
	<li><a class="social-twitter" href="#">
		<i class="fa fa-twitter"><small>Twitter</small></i>
		<div class="tooltip"><span>Twitter</span></div>
		</a>
	</li>
	<li><a class="social-google-plus" href="#">
		<i class="fa fa-google-plus"><small>google +</small></i>
		<div class="tooltip"><span>google</span></div>
		</a>
	</li>
	<li><a class="social-Instagram" href="#">
		<i class="fa-brands fa-instagram"><small>Instagram</small></i>
		<div class="tooltip"><span>Instagram</span></div>
		</a>
	</li>
  <li><a class="social-WhatsApp" href="#">
		<i class="fa-brands fa-whatsapp"><small>WhatsApp</small></i>
		<div class="tooltip"><span>WhatsApp</span></div>
		</a>
	</li>
</ul>

<p><br/></p>
<hr/>
<p><br/></p><p><br/></p><p><br/></p><p><br/></p>

<!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->

