
<p><br/></p><p><br/></p>

<div class="col text-uppercase text-center">
  <h2>Catálogo de las nuevas NOVEDADES en zapatos</h2>
</div>
<div class="col text-center">
  Por la compra de cualquier zapato mostrado en esta sección recibe un descuento por la promoción.
</div>
<!-- <div class="col text-center">
  Y por la compra de una motocicleta de modelo exclusivo en nuestra página web recibira un descuento del 15%
</div> -->

<div class="card bg-dark text-white">
    <img src="https://static.marypaz.com/media/catalog/category/Banner_cabecera_novedades_pc.jpg" class="card-img" alt="...">
    <div class="card-img-overlay"><br><br><br><br><br>
      <h5 class="card-title text-center"><FONT COLOR="purple">Nueva colección</FONT></h5><br>
      <p class="card-text text-center"><FONT COLOR="purple">A todas nos gusta estrenar y por eso te presentamos nuestra<br> nueva colección otoño-invierno 2022 para ir a la última cada día.</FONT></p>
      <!-- <p class="card-text">Last updated 3 mins ago</p> -->
    </div>
  </div>

<div class="container">
    <div class="row">
      <!-- <div class="row row-cols-1 row-cols-md-4 g-5 h-80 d-flex align-items-center justify-content-center max-width: 1300px" > -->
      <div class="row row-cols-1 row-cols-md-4 g-5 h-80">
          <div class="card border-2 col-sm-4 p-0">
            <table class="table">
              <thead>
                <tr>                
                  <th scope="col">PROMOCIONES</th>
                </tr>
              </thead>
              <tbody>
                <tr>                  
                  <td>Botines -20%</td>
                </tr>
                <tr>                  
                  <td>Botas -20%</td>
                </tr>
                <tr>               
                  <td colspan="2">Colección piel -30%</td>
                </tr>
                <tr>               
                  <td colspan="2">Productos seleccionados |20%</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- &nbsp;
          &nbsp;
          &nbsp; -->
          <div class="card border-2 col-sm-4 p-0">
            <img class="card-img-top" src="https://static.marypaz.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/8/9/89209_15.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title h4">MOCASÍN NEGRO</h4>
              <p class="card-text">Precio: 33,99 €</p>
            </div>
          </div>
          
          <div class="card border-2 col-sm-4 p-0">
            <img class="card-img-top" src="https://static.marypaz.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/8/9/89223_15.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title h4">MOCASÍN SUELA TRACK</h4>
              <p class="card-text">Precio: 33,99 €</p>
            </div>
          </div>
          
          <div class="card border-2 col-sm-4 p-0">
            <img class="card-img-top" src="https://static.marypaz.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/8/9/89210_15.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title h4">MOCASÍN</h4>
              <p class="card-text">Precio: 33,99 €</p>
            </div>
          </div>
      </div>
  

      <div class="row ">
        <div class="row row-cols-1 row-cols-md-4 g-5 h-80">
          <div class="card border-2 col-sm-4 p-0">
            <img class="card-img-top" src="https://static.marypaz.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/8/9/89370_15.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title h4">SANDALIA TIRAS</h4>
              <p class="card-text">Precio: 29,99 €</p>
            </div>
          </div>
          
          <div class="card border-2 col-sm-4 p-0">
            <img class="card-img-top" src="https://static.marypaz.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/8/9/89233_15.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title h4">MOCASÍN PISO TRACK</h4>
              <p class="card-text">Precio: 31,99 €</p>
            </div>
          </div>
          
          <div class="card border-2 col-sm-4 p-0">
            <img class="card-img-top" src="https://static.marypaz.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/8/9/89918_15.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title h4">BOLSO DE HOMBRO</h4>
              <p class="card-text">Precio: 35,99 €</p>
            </div>
          </div>
          
          <div class="card border-2 col-sm-4 p-0">
            <img class="card-img-top" src="https://static.marypaz.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/8/9/89238_15.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title h4">BOTÍN TACÓN CORDÓN</h4>
              <p class="card-text">Precio: 35,99 €</p>
            </div>
          </div>
        </div>
       

      <div class="row ">
        <div class="row row-cols-1 row-cols-md-4 g-5 h-80 ">
          <div class="card border-2 col-sm-4 p-0">
            <img class="card-img-top" src="https://static.marypaz.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/8/9/89912_20.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title h4">BOLSO DE HOMBRO</h4>
              <p class="card-text">Precio: 29,99 €</p>
            </div>
          </div>

          <div class="card border-2 col-sm-4 p-0">
            <img class="card-img-top" src="https://static.marypaz.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/8/9/89224_20.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title h4">MOCASÍN SUELA TRACK</h4>
              <p class="card-text">Precio: 33,99 €</p>
            </div>
          </div>

          <div class="card border-2 col-sm-4 p-0">
            <img class="card-img-top" src="https://static.marypaz.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/8/9/89891_15.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title h4">BOLSO BANDOLERA</h4>
              <p class="card-text">Precio: 29,99 €</p>
            </div>
          </div>

          <div class="card border-2 col-sm-4 p-0">
            <img class="card-img-top" src="https://static.marypaz.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/8/9/89899_20.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title h4">BOLSO ASA METÁLICA</h4>
              <p class="card-text">Precio: 29,99 €</p>
            </div>
          </div>
        </div>
      </div>   
</div>

<p><br/></p>
<hr/>
 
  <div class="col text-center">
    <h3><b>Outlet de zapatos mujer</b></h3>
    <h4>En Precios especiales podrás encontrar los mejores zapatos a precios increíbles. Si te quedaste con las ganas de tener los zapatos de moda más demandados, esta es tu oportunidad. ¡Aprovecha los mejores precios! Empieza el otoño con buen pie escogiendo el modelo de zapato NCLOOK que más se adapte a cada ocasión.</h4>
    <p><br/></p>
    <h3><b>Precios especiales de zapatos para mujer</b></h3>
    <h4>Tener los mejores zapatos ya no será un problema, y es que, gracias a los mejores precios, podrás adquirir los productos sin que hayan pasado de moda. ¿A qué estás esperando? Disfruta en Precios especiales de todos los zapatos en oferta. Si aún no te has decidido entre una gran variedad de modelos, en NCLOOK contamos con el zapato ideal para cualquier mujer. Con NCLOOK lucirás cómoda y perfecta en cualquier momento y ocasión.</h4>
    <p><br/></p>
    <h3><b>¿Qué vas a encontrar en Precios especiales de Zapatos NCLOOK?</b></h3>
    <h4>En Precios especiales podrás encontrar los mejores zapatos de tendencia a muy buen precio. Elige tus favoritos y añádelos rápido a la cesta para hacer tu compra, ¡corre que vuelan! En NCLOOK dispones de una gran variedad de diseños que calzarán tus pies con un estilo impecable. Hazte con zapatos al mejor precio y lánzate a la moda más actual para vestir cada día con las últimas tendencias en el mundo del calzado.</h4>
    <p><br/></p>
    <h3><b>Aprovecha estas ofertas en zapatos de mujer</b></h3>
    <h4>Las mejores ofertas las encontrarás en Precios especiales, porque en NCLOOK no queremos que dejes escapar los mejores precios y productos. Echa un vistazo a nuestras diferentes categorías para elegir entre botines, mocasines o zapatos de tacón, como perfectas acompañantes de looks de infarto. Concede un toque casual a un vestido de vuelo con algunos de nuestros botines y completa el look con nuestros bolsos. Todo esto será posible gracias a nuestros increíbles precios en nuestras web.</h4>
  </div>

<p><br/></p>
<hr/>

<p><br/></p>

<script src="https://kit.fontawesome.com/0e79ddbc3a.js" crossorigin="anonymous"></script>
<div class="col text-uppercase text-center">
  <h2>REDES SOCIALES </h2>
</div>
<ul class="mbm_social">
	<li><a class="social-facebook" href="#">
		<i class="fa fa-facebook"><small>facebook</small></i>
		
		<div class="tooltip"><span>facebook</span></div>
		</a>
	</li>
	<li><a class="social-twitter" href="#">
		<i class="fa fa-twitter"><small>Twitter</small></i>
		<div class="tooltip"><span>Twitter</span></div>
		</a>
	</li>
	<li><a class="social-google-plus" href="#">
		<i class="fa fa-google-plus"><small>google +</small></i>
		<div class="tooltip"><span>google</span></div>
		</a>
	</li>
	<li><a class="social-Instagram" href="#">
		<i class="fa-brands fa-instagram"><small>Instagram</small></i>
		<div class="tooltip"><span>Instagram</span></div>
		</a>
	</li>
  <li><a class="social-WhatsApp" href="#">
		<i class="fa-brands fa-whatsapp"><small>WhatsApp</small></i>
		<div class="tooltip"><span>WhatsApp</span></div>
		</a>
	</li>
</ul>

<p><br/></p>
<hr/>
<p><br/></p><p><br/></p>


  




