
<p><br/></p><p><br/></p>

<div class="col text-uppercase text-center">
  <h2>Catálogo de las nuevas NOVEDADES en zapatos</h2>
</div>
<div class="col text-center">
  Por la compra de cualquier zapato mostrado en esta sección recibe un descuento por la promoción.
</div>
<!-- <div class="col text-center">
  Y por la compra de una motocicleta de modelo exclusivo en nuestra página web recibira un descuento del 15%
</div> -->

<!--<div class="card bg-dark text-white">
    <img src="https://static.marypaz.com/media/catalog/category/20220311_NC_Cabecera_Bolsos-de-mujer_pc2_1.jpg" class="card-img" alt="...">
    <div class="card-img-overlay"><br><br><br><br><br>
      <h5 class="card-title text-center"><FONT COLOR="white">BOLSOS</FONT></h5><br>
      <p class="card-text text-center"><FONT COLOR="white">Descubre nuestra nueva colección de bolsos de colgar y de<br> mano perfectos para completar tus looks este verano. Elige tu<br> favorito entre la variedad de colores, materiales y formas.</FONT></p>
       <p class="card-text">Last updated 3 mins ago</p> 
    </div>
  </div>-->

<div class="container">
    <div class="row">
      <!-- <div class="row row-cols-1 row-cols-md-4 g-5 h-80 d-flex align-items-center justify-content-center max-width: 1300px" > -->
      <div class="row row-cols-1 row-cols-md-4 g-5 h-80">
          <div class="card border-2 col-sm-4 p-0">
            <table class="table">
              <thead>
                <tr>                
                  <th scope="col">PROMOCIONES</th>
                </tr>
              </thead>
              <tbody>
                <tr>                  
                  <td>Botines -20%</td>
                </tr>
                <tr>                  
                  <td>Botas -20%</td>
                </tr>
                <tr>               
                  <td colspan="2">Colección piel -30%</td>
                </tr>
                <tr>               
                  <td colspan="2">Productos seleccionados |20%</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- &nbsp;
          &nbsp;
          &nbsp; -->
          <div class="card border-2 col-sm-4 p-0">
            <img class="card-img-top" src="https://static.marypaz.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/8/9/89918_15.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title h4">BOLSO DE HOMBRO</h4>
              <p class="card-text">Precio:35,99 €</p>
            </div>
          </div>
          
          <div class="card border-2 col-sm-4 p-0">
            <img class="card-img-top" src="https://static.marypaz.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/8/9/89912_20.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title h4">BOLSO DE HOMBRO</h4>
              <p class="card-text">Precio:29,99 €</p>
            </div>
          </div>
          
          <div class="card border-2 col-sm-4 p-0">
            <img class="card-img-top" src="https://static.marypaz.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/8/9/89883_20.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title h4">BOLSO SOLAPA</h4>
              <p class="card-text">Precio:29,99 €</p>
            </div>
          </div>
      </div>
  

      <div class="row ">
        <div class="row row-cols-1 row-cols-md-4 g-5 h-80">
          <div class="card border-2 col-sm-4 p-0">
            <img class="card-img-top" src="https://static.marypaz.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/8/9/89884_20.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title h4">BOLSO SOLAPA</h4>
              <p class="card-text">Precio:29,99 €</p>
            </div>
          </div>
          
          <div class="card border-2 col-sm-4 p-0">
            <img class="card-img-top" src="https://static.marypaz.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/8/9/89893_20.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title h4">BOLSO DE HOMBRO</h4>
              <p class="card-text">Precio:29,99 €</p>
            </div>
          </div>
          
          <div class="card border-2 col-sm-4 p-0">
            <img class="card-img-top" src="https://static.marypaz.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/8/9/89899_20.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title h4">BOLSO ASA METÁLICA</h4>
              <p class="card-text">Precio:29,99 €</p>
            </div>
          </div>
          
          <div class="card border-2 col-sm-4 p-0">
            <img class="card-img-top" src="https://static.marypaz.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/8/9/89902_15.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title h4">BOLSO DE HOMBRO</h4>
              <p class="card-text">Precio:33,99 €</p>
            </div>
          </div>
        </div>
       

      <div class="row ">
        <div class="row row-cols-1 row-cols-md-4 g-5 h-80 ">
          <div class="card border-2 col-sm-4 p-0">
            <img class="card-img-top" src="https://static.marypaz.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/8/9/89906_15.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title h4">BOLSO DE HOMBRO</h4>
              <p class="card-text">Precio:<del>33,99 €</del>22,99 €</p>
            </div>
          </div>

          <div class="card border-2 col-sm-4 p-0">
            <img class="card-img-top" src="https://static.marypaz.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/8/9/89895_20.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title h4">BOLSO DE HOMBRO</h4>
              <p class="card-text">Precio:29,99 €</p>
            </div>
          </div>

          <div class="card border-2 col-sm-4 p-0">
            <img class="card-img-top" src="https://static.marypaz.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/8/9/89892_20.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title h4">BOLSO DE HOMBRO</h4>
              <p class="card-text">Precio:29,99 €</p>
            </div>
          </div>

          <div class="card border-2 col-sm-4 p-0">
            <img class="card-img-top" src="https://static.marypaz.com/media/catalog/product/cache/1/small_image/9df78eab33525d08d6e5fb8d27136e95/8/9/89905_20.jpg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title h4">BOLSO DE HOMBRO</h4>
              <p class="card-text">Precio:33,99 €</p>
            </div>
          </div>
        </div>
      </div>   
</div>

<p><br/></p>
<hr/>
 
  <div class="col text-center">
    <h3><b>Bolsos de Colgar</b></h3>
    <h4>Los bolsos son un complemento imprescindible en cada uno de nuestros estilismos. En NCLOOK tienes un bolso para cada ocasión. Además, estás de suerte. Nuestros bolsos de colgar presentan el tamaño perfecto para guardar tus pertenencias sin exceder en tamaño.</h4>
    <p><br/></p>
    <h3><b>Bolso de colgar de moda</b></h3>
    <h4>¡Acompaña cualquier look con tu bolso NCLOOK!</h4>
    <p><br/></p>
    <h3><b>Bolso de Colgar</b></h3>
    <h4>Si estás buscando un bolso a la moda y a buen precio estás en el sitio adecuado. Echa un vistazo a nuestra colección de bolsos de colgar perfectos para combinar con tus zapatos preferidos y tus outfits del día a día.</h4>
    <p><br/></p>
    <h3><b>¿Qué tipo de bolsos de colgar encontrarás?</b></h3>
    <h4>Al igual que ocurre con nuestro catálogo de zapatos de mujer, en la tienda online de NCLOOK encontrarás decenas de bolsos de colgar inspirados en las últimas tendencias. Este apartado está inundado de diversos colores y materiales.</h4>
  </div>

<p><br/></p>
<hr/>

<p><br/></p>

<script src="https://kit.fontawesome.com/0e79ddbc3a.js" crossorigin="anonymous"></script>
<div class="col text-uppercase text-center">
  <h2>REDES SOCIALES </h2>
</div>
<ul class="mbm_social">
	<li><a class="social-facebook" href="#">
		<i class="fa fa-facebook"><small>facebook</small></i>
		
		<div class="tooltip"><span>facebook</span></div>
		</a>
	</li>
	<li><a class="social-twitter" href="#">
		<i class="fa fa-twitter"><small>Twitter</small></i>
		<div class="tooltip"><span>Twitter</span></div>
		</a>
	</li>
	<li><a class="social-google-plus" href="#">
		<i class="fa fa-google-plus"><small>google +</small></i>
		<div class="tooltip"><span>google</span></div>
		</a>
	</li>
	<li><a class="social-Instagram" href="#">
		<i class="fa-brands fa-instagram"><small>Instagram</small></i>
		<div class="tooltip"><span>Instagram</span></div>
		</a>
	</li>
  <li><a class="social-WhatsApp" href="#">
		<i class="fa-brands fa-whatsapp"><small>WhatsApp</small></i>
		<div class="tooltip"><span>WhatsApp</span></div>
		</a>
	</li>
</ul>

<p><br/></p>
<hr/>
<p><br/></p><p><br/></p>


  





